/* BOTÃO TEMA ESCURO E CLARO */
.toggle-bg {
    background-color: #4B5563;
    border-radius: 9999px;
    padding: 2px;
    width: 50px;
    height: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.toggle-bg.light {
    background-color: #D1D5DB;
}

.toggle-circle {
    background-color: #fff;
    border-radius: 9999px;
    width: 20px;
    height: 20px;
    transition: transform 0.3s;
}

.toggle-bg.light .toggle-circle {
    transform: translateX(25px);
}

.icon-sun,
.icon-moon {
    display: none;
    position: absolute;
}

.toggle-bg.light .icon-sun {
    display: block;
}

.toggle-bg .icon-moon {
    display: block;
}
